.content {
    .formItem {
        color: rgba(0, 0, 0, .65);
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        min-height: 48px;
        .itemLabel {
            padding: 0 0 8px;
            margin: 0;
            display: block;
            text-align: left;
            line-height: 1.5;
            font-size: 12px;
            label {
                color: rgba(0, 0, 0, .85);
                position: relative;
            }
        }
    }
    .antRow {
        position: relative;
        height: auto;
        zoom: 1;
        display: block
    }
    :global {
        .pagination-container {
            margin: 0 15px;
        }
        .custom-pagination-with-icon .am-pagination-wrap-btn-prev .am-button-inline {
            padding-left: 0;
            padding-right: 10px;
        }
        .custom-pagination-with-icon .am-pagination-wrap-btn-next .am-button-inline {
            padding-left: 10px;
            padding-right: 0;
        }
        .arrow-align {
            display: flex;
            align-items: center;
        }
        .sub-title {
            color: #888;
            font-size: 14px;
            padding: 30px 0 18px 0;
        }
    }
}
